@media (max-width: 1080px) {
  .header {
    padding: 0 40px;
  }
}

@media (max-width: 762px) {
  .header {
    padding: 0 25px;
  }

  .header__options {
    display: none;
  }

  .header__hamburgerButton,
  .header__closeMenuDropDown {
    display: flex;
  }

  .header__options--resume a {
    padding: 1.5rem 3rem;
  }
}
