.header {
  max-width: 100%;
  height: var(--nav-height);
  padding: 0 50px;

  position: sticky;
  top: 0;
  z-index: 12;
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  transition: var(--transition);

  background-color: rgba(10, 25, 47, 0.85);
  backdrop-filter: blur(10px);
}

@media (max-width: 1080px) {
  .header {
    padding: 0 40px;
  }
}

@media (max-width: 762px) {
  .header {
    padding: 0 25px;
  }

  .header__options {
    display: none;
    /* colocar um menu hamburger aqui */
  }
}

.header__nav {
  width: 100%;
  font-family: var(--font-mono);
  /* transition: var(--transition); */
}

.link {
  color: var(--green);
  width: 45px;
  height: 45px;

  text-decoration: none;
  text-decoration-skip-ink: auto;
  color: inherit;
}

.logo {
  -moz-box-pack: center;
  -moz-box-align: center;
}

.logo svg {
  user-select: none;
  fill: none;
}

svg {
  width: 100%;
  height: 100%;
}

#logo {
  color: var(--green);
}

.header__options ul {
  list-style: none;
  font-size: var(--fz-xs);
  padding: 0;
  margin: 0;
}

.header__options--li a {
  padding: 10px;
  color: var(--lightest-slate);
}

a {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  position: relative;

  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  transition: var(--transition);
}

.header__options ul li {
  margin: 0px 5px;
  position: relative;
  counter-increment: item 1;
  font-size: var(--fz-xs);
  cursor: pointer;
}

.header__options ul li:last-of-type {
  margin-right: 0;
}

.header__options--li a::before {
  color: var(--green);
  content: "0" counter(item) ".";
  margin-right: 5px;
  font-size: var(--fz-xxs);
  text-align: right;
}

.header__options--li:hover {
  color: var(--green);
}

.header__options--resume a {
  color: var(--green);
  background-color: transparent;
  border: 1px solid var(--green);
  border-radius: var(--border-radius);
  font-family: var(--font-mono);
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  /* -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  transition: var(--transition); */

  margin-left: 15px;
  font-size: var(--fz-xs);
  padding: 1.2rem 1.6rem;
}

.header__options--resume::after,
.header__options--resume::before {
  box-sizing: inherit;
}

.unexpected-2 {
  background: linear-gradient(currentColor 0 0) left var(--p, 50%) bottom 0 /
      var(--d, 0) 3px no-repeat,
    linear-gradient(currentColor 0 0) right var(--p, 50%) bottom 0 / var(--d, 0)
      3px no-repeat;
  transition: 0.3s, background-position 0.3s 0.3s;
}

.unexpected-2:hover {
  --d: 50%;
  --p: 50.1%;
  transition: cubic-bezier(0, 500, 1, 500) 0.3s, background-size 0.3s 0.3s;
}

#test p {
  margin-top: 25px;
  font-size: 21px;
  text-align: center;
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
