/* .header {
  max-width: 100%;
  height: var(--nav-height);
  padding: 0 50px;

  position: sticky;
  top: 0;
  z-index: 12;
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  transition: var(--transition);

  background-color: rgba(10, 25, 47, 0.85);
  backdrop-filter: blur(10px);
} */
