* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

#root {
  min-height: 100vh;
  min-width: 100vw;
  background-color: aqua;
}

body {
  margin: 0;
  background: #f8f8f9;
  overflow-x: hidden;
}

.display-flex-column {
  display: flex;
  flex-direction: column;
}

.display-flex-row {
  display: flex;
}

.justify-content-center {
  align-items: center;
  justify-content: center;
}

.font-nunito {
  font-family: "Nunito";
}
